@using Werewolves.Core.StateModels.Models.Instructions
@inject GameClientManager GameClient

<div class="d-flex justify-center pa-4">
    <MudButton OnClick="Confirm" 
               Variant="Variant.Filled" 
               Color="Color.Primary"
               Size="Size.Large">
        Proceed
    </MudButton>
</div>

@code {
    [Parameter] public ConfirmationInstruction Instruction { get; set; } = null!;

    private async Task Confirm()
    {
        var response = Instruction.CreateResponse(true);
        await GameClient.ProcessInputAsync(response);
    }
}
